.tree {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  font-family: monospace;
}

.minus {
  margin-left: -38px;
}

.zero {
  margin-left: 0px;
}

.one {
  margin-left: 38px;
}

.two {
  margin-left: 76px;
}

.three {
  margin-left: 114px;
}


button {
  border: none;
}
